body {
  background-image: url('/static/fundo.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 30px;
}

form {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

input, button {
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
}

